/node_modules
/public
/public/hot
/public/storage
/public/upload
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/uploads
composer.lock